.example-spacer {
  flex: 1 1 auto;
}
.container{
  width: 100%;
  min-height: 500px;
}
.mat-list-item{
  cursor: pointer;
  padding:10px;
  span,.mat-icon{
    vertical-align: middle;
    margin-left:3px;
  }
}
.mat-list-item:hover, .mat-list-item.active{
  color:goldenrod;
}
