<app-card>
  <div class="row">
    <div class="col-12 header">Users</div>
    <div class="col-12 table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Courses</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr>
              <td><i class="material-icons pointer align-middle"
                  (click)="temp=temp==user.id?null:user.id">{{temp==user.id?"expand_less":"expand_more"}}</i></td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role}}</td>
              <td>{{user.courses?user.courses.length:0}}</td>
              <td><i class="material-icons pointer text-danger" (click)="deleteUser(user)">delete</i></td>
            </tr>
            <tr *ngIf="temp==user.id">
              <td colspan="4">
                <table  class="table">
                  <tr *ngFor="let userCourse of user.courses; let i=index">
                    <td>{{i+"."}}</td>
                    <td>{{firestore.getCourseName(userCourse)}}</td>
                    <td>{{userCourse.status}}</td>
                    <td>{{userCourse.started}}</td>
                    <td>{{userCourse.score?userCourse.score:0}}</td>
                    <td><i class="material-icons pointer text-danger cancel-icon" (click)="resetCourse(userCourse)">cancel</i></td>
                  </tr>
                </table>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>
