<div class="row m-0" *ngIf="category">
    <div class="col-12 node" [ngClass]="{'active-node':current!=null && category.id==current.id}">
        <i class="material-icons mx-2 pointer align-middle" *ngIf="category.categories!=null && category.categories.length>=0" (click)="expand=!expand">{{expand?"expand_more":"chevron_right"}}</i>
        <span class="pointer text-uppercase" (click)="select.emit(category)">{{category.name}}</span>
    </div>
    <div class="col-12" style="margin-left:15px;" *ngIf="expand">
        <div *ngFor="let c of category.categories">
            <app-category [category]="c" [current]="current" (select)="select.emit($event)"></app-category>
        </div>
    </div>
</div>