<div class="c">
    <div class="row p-3">
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let p of paths">
            <div class="m-2 p-3 border border-secondary bg-light">
                <div class="n">{{p.name}}</div>
                <div class="t"><b>Tech: </b>{{p.tech}}</div>
                <div class="v pointer"><a>View Topics</a></div>
                <div class="b text-center mt-2"><button class="btn btn-primary" [routerLink]="'/login'">Register course</button></div> 
            </div>
        </div>
    </div>
</div>
