<div *ngIf="url">
  <div *ngIf="!isMobile">
    <pdf-viewer
      [src]="url"
      [rotation]="0"
      [original-size]="false"
      [show-all]="false"
      [page]="page"
      [fit-to-page]="true"
      [zoom]="0.5"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      (after-load-complete)="callBackFn($event)">
    </pdf-viewer>
  </div>
  <div *ngIf="isMobile">
    <pdf-viewer
      [src]="url"
      [rotation]="0"
      [original-size]="false"
      [show-all]="false"
      [page]="page"
      [fit-to-page]="false"
      [zoom]="0.9"
      [zoom-scale]="'page-height'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      (after-load-complete)="callBackFn($event)">
    </pdf-viewer>
  </div>
  <div class="row m-0 p-absolute w-100" style="position: absolute; top:100px;">
    <div class="col-6 p-0" style="height:100vh" (click)="prev()"></div>
    <div class="col-6 p-0" style="height:100vh" (click)="next()"></div>
  </div>
  <div class="row m-0 fo" *ngIf="numPages!=0">
    <div class="col-6">
        <span *ngIf="page>1" (click)="prev()">
          <i class="material-icons">chevron_left</i>
          <span class="align-midde">PREV</span>
        </span>
    </div>
    <div class="col-6">
        <span *ngIf="page<numPages" style="float:right" (click)="next()" >
          <span class="align-midde">NEXT</span>
          <i class="material-icons">chevron_right</i>
        </span>
    </div>
  </div>  
</div>