<div *ngIf="url" (click)="react($event)">
  <div>
    <span *ngIf="back" style="position: absolute; top: 80px; right:10px;z-index:1000;" (click)="goback()">
      <i class="material-icons pointer text-primary" id="close">cancel</i>
    </span>
    <div class="text-center"  id="navs" >
      <span class="mx-1" *ngFor="let item of [].constructor(numPages); let i = index">
        <button style="border:none; height:5px" [ngClass]="i+1==page?'bg-primary':'bg-secondary'"></button>
      </span>
    </div>
    <pdf-viewer
    *ngIf="!isMobile"
      [src]="url"
      [rotation]="0"
      [original-size]="false"
      [show-all]="false"
      [page]="page"
      [fit-to-page]="true"
      [zoom]="1"
      [zoom-scale]="'page-height'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      (after-load-complete)="callBackFn($event)">
    </pdf-viewer>
    <pdf-viewer
    *ngIf="isMobile"
      [src]="url"
      [rotation]="0"
      [original-size]="false"
      [show-all]="false"
      [page]="page"
      [fit-to-page]="true"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      (after-load-complete)="callBackFn($event)">
    </pdf-viewer>
  </div>
  <div class="row m-0 fo" *ngIf="numPages!=0">
    <div class="col-6">
        <span *ngIf="page>1" (click)="prev()">
          <i class="material-icons">chevron_left</i>
          <span class="align-midde">PREV</span>
        </span>
    </div>
    <div class="col-6">
        <span *ngIf="page<numPages" style="float:right" (click)="next()" >
          <span class="align-midde">NEXT</span>
          <i class="material-icons">chevron_right</i>
        </span>
    </div>
  </div>  
</div>