.header{
  padding: 10px;
  border-bottom: solid;
  font-size: 20px;
}
.course-title{
  display:inline-block;
  font-size: 20px;
  text-decoration: underline;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

