<div class="row m-0 px-2 r text-center">
	<div class="col-12 text-center">
		Timeline
	</div>
</div>
<div class="container p-2">
	<!-- The Timeline -->

	<ul class="timeline">

		<!-- Item 1 -->
		<li>
			<div class="direction-r">
				<div class="flag-wrapper">
					<span class="flag">Wellsfargo</span>
					<span class="time-wrapper"><span class="time">2020 - present</span></span>
				</div>
				<div class="desc">Leading the team. Delivering key products to Investment Banking, Building resuable and
					scalable resources using Microfrontends and Microservices. Reactive, Event Driven Architecture</div>
			</div>
		</li>

		<!-- Item 2 -->
		<li>
			<div class="direction-l">
				<div class="flag-wrapper">
					<span class="flag">Deloitte.</span>
					<span class="time-wrapper"><span class="time">2019 - 2020</span></span>
				</div>
				<div class="desc">Great Experience. Became more professional, more agile. Enhanced skillset, completed
					certifications. Being part of development of next gen heath care systems using Microservices.</div>
			</div>
		</li>

		<!-- Item 3 -->
		<li>
			<div class="direction-r">
				<div class="flag-wrapper">
					<span class="flag">Tata Consultancy Services</span>
					<span class="time-wrapper"><span class="time">2016 - 2019</span></span>
				</div>
				<div class="desc">Tech Journey started from here. Its the Tree where we learn lot of skills, ethics and core
					values. Develop from scratch, business software (Angular UI and Java Restful Services) for Airline
					Client.</div>
			</div>
		</li>

		<!-- Item 4 -->
		<li>
			<div class="direction-l">
				<div class="flag-wrapper">
					<span class="flag"><i class="material-icons align-middle">school</i><span class="align-middle mx-2">Engineering</span> </span>
					<span class="time-wrapper"><span class="time">2012 - 2016</span></span>
				</div>
				<div class="desc">Completed Graduation in Electronics & Communication Engineering</div>
			</div>
		</li>
</ul>

</div>