<app-card>
  <div class="header">
    Subjects
  </div>
  <div class="content col-12 table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let subject of subjects">
          <td>{{subject.name}}</td>
          <td><i class="material-icons text-danger pointer" title="Delete Subject" (click)="deleteSubject(subject)">delete</i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions row m-2">
    <div class="col-8 d-inline-block p-0">
      <app-input type="text" label="Subject" [(value)]="subject.name"></app-input>
    </div>
    <div class="col-4 d-inline-block align-middle">
      <button class="float-right" mat-mini-fab color="primary" (click)="addSubject()" title="Add Subject">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</app-card>
