.header{
  padding: 10px;
  border-bottom: solid;
  font-size: 20px;
}
.content{
    font-size: 16px;
    padding: 10px;
    .table{
      color:inherit;
      th,td{
        padding: 0.25rem;
      }
    }
}
