.r{
    color:white;
    background-color: tomato;
    font-size: 35px;
    font-weight: 500;
}
.floating{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    .action{
        cursor: pointer;
    }
}
.modal.extended{
    top:100px;
    display:block;
    .modal-content{
        background: floralwhite;
    }
}
.form-control.x{
    width:90%;   
}