<div class="row m-0 px-2 r text-center" *ngIf="topic">
    <div class="c px-1">
        <div class="row mt-3 table-responsive">
            <div class="col-12 mx-3 my-1 p-0 h-100" 
            style="max-width: -webkit-fill-available;max-height: -webkit-fill-available;overflow-y: visible;"
            [innerHtml]="page">
            </div>
        </div>
    </div>
</div>



<div class="row m-0 fo" *ngIf="topic && topic.pages && topic.pages.length>1">
    <div class="col-6">
        <span (click)="prev()"><i class="material-icons">chevron_left</i>PREV</span>
    </div>
    <div class="col-6">
        <span style="float:right" (click)="next()" >NEXT<i class="material-icons">chevron_right</i></span>
    </div>
</div>

<div class="floating" *ngIf="firestore.isAdmin">
    <div class="d-flex flex-column bd-highlight mb-3">
        <button class="btn btn-warning" *ngIf="page" (click)="editPageModal=true"><i class="material-icons pointer">edit</i></button>
        <button class="btn btn-info" (click)="addPageModal=true"><i class="material-icons pointer">add</i></button>
    </div>
</div>

<div class="modal extended" *ngIf="addPageModal">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Page</h4>
          <button type="button" class="btn-close" (click)="addPageModal=false" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 my-2">
                    <textarea rows="15" class="form-control x" [(ngModel)]="newPage"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="addPage()">Add</button>
        </div>
      </div>
    </div>
</div>

<div class="modal extended" *ngIf="editPageModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Page</h4>
          <button type="button" class="btn-close" (click)="editPageModal=false" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 my-2">
                    <textarea rows="15" class="form-control x" [(ngModel)]="page"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deletePage()">Delete</button>
            <button type="button" class="btn btn-primary" (click)="editPage()">Update</button>
        </div>
      </div>
    </div>
</div>