<div *ngIf="course">
  <div class="row w-100 my-2 course-header">
    <div class="col-8 align-middle">
      <div class="course-name p-2">
        <span>{{course.subject}} > {{course.name}}</span>
        <span *ngIf="userCourse float-right">({{userCourse.status}})</span></div>
    </div>
    <div class="col-4 text-right">
      <button *ngIf="userCourse!=null" mat-raised-button color="accent" (click)="unregister()">Un Register</button>
      <button *ngIf="userCourse==null" mat-raised-button color="accent" (click)="register()">Register</button>
    </div>
  </div>
  <div class="row mt-2" *ngIf="(userCourse || firestore.user.role=='ADMIN') && course.questions[questionIndex]">
    <div class="col-12 text-center">
      <button class="float-left" mat-mini-fab color="accent" title="Prev" (click)="prev()"
        [disabled]="questionIndex==0">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <b>Question {{questionIndex+1}}</b>
      <button class="float-right" mat-mini-fab color="accent" title="Next" (click)="next()"
        [disabled]="questionIndex==course.questions.length-1">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="col-12">
      <app-card>
        <div class="p-1">{{(questionIndex+1)+"Q) "+course.questions[questionIndex].text}}</div>
        <div class="p-3">
          <div *ngFor="let option of course.questions[questionIndex].options; let i=index;">
            <input type="radio" name="soption" [(ngModel)]="course.questions[questionIndex].select" [value]="i+1" />
            <span class="mx-3" style="vertical-align: text-bottom;">{{(i+1)+") "+option}}</span>
          </div>
        </div>
        <button class="float-right" mat-raised-button color="warn" title="Submit" (click)="evaluate()"
          *ngIf="questionIndex==course.questions.length-1">
          Evaluate
        </button>
      </app-card>
    </div>
  </div>
  <div class="row mt-2">
    <div *ngIf="firestore.user.role=='ADMIN'" class="col-12 text-center">
      <button mat-mini-fab class="mx-3" color="primary" (click)="addQuestion()" title="Add New Question">
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="course.questions[questionIndex]" class="mx-3" mat-mini-fab color="accent" data-toggle="modal"
        data-target="#editQuestion" title="Edit Question">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="course.questions[questionIndex]" class="mx-3" mat-mini-fab color="warn" (click)="deleteQuestion()"
        title="Delete Question">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>


<div class="modal" id="editQuestion" *ngIf="course.questions[questionIndex]">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-dark">Question {{questionIndex+1}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-card class="row mt-2">
          <app-input class="col-12" type="text" label="Question Text" [(value)]="course.questions[questionIndex].text">
          </app-input>
          <div class=" row col-12 p-2" *ngFor="let option of course.questions[questionIndex].options; let i=index;">
            <input class="col-2 p-0" type="radio" name="coption" [(ngModel)]="course.questions[questionIndex].correct"
              [value]="i+1" />
            <app-input class="col-8 p-0" type="text" [label]="'Option '+(i+1)"
              [(value)]="course.questions[questionIndex].options[i]"></app-input>
            <i class="col-2 p-0 material-icons pointer"
              (click)="course.question[questionIndex].options.splice(i,1)">delete</i>
          </div>
          <div class="row col-10 text-right">
            <button mat-mini-fab color="accent" title="Add Option"
              (click)="course.questions[questionIndex].options.push('')"
              [disabled]="course.questions[questionIndex].options.length==4">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="updateQuestion()" title="Save">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
