<div *ngIf="course">
  <div class="row w-100 my-2 course-header">
    <div class="col-12 col-md-4 align-middle course-name">
      <span>{{course.subject}} > {{course.name}}</span>
    </div>
    <div class="col-6 col-md-4" style="font-size:10px">
      <div *ngIf="userCourse">{{"STATUS : "+userCourse.status}}</div>
      <div *ngIf="userCourse">{{"SCORE : "+(userCourse.score?userCourse.score:0)}}</div>
    </div>
    <div class="col-6 col-md-4 text-right">
      <button *ngIf="userCourse!=null" mat-raised-button color="accent" (click)="unregister()">Un Register</button>
      <button *ngIf="userCourse==null" [disabled]="course.questions.length<10" mat-raised-button color="accent" (click)="register()">Register</button>
    </div>
  </div>
  <app-card class="row">
    <div class="mt-2 text-center" *ngIf="!start && userCourse">
      <button mat-raised-button color="accent" (click)="startQuiz()">Start</button>
    </div>
    <div class="mt-2 row"
      *ngIf="((userCourse && start) || firestore.user.role=='ADMIN') && course.questions[questionIndex]">
      <div class="col-12 row text-center question-header">
        <div class="col-2 text-right d-inline-block">
          <button mat-mini-fab color="accent" title="Prev" (click)="prev()" [disabled]="questionIndex==0">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
        <div class="col-8 d-inline-block align-middle">
          <b>Question {{questionIndex+1}} of {{course.questions.length}}</b>
        </div>
        <div class="col-2 text-left d-inline-block">
          <button mat-mini-fab color="accent" title="Next" (click)="next()"
            [disabled]="questionIndex==course.questions.length-1">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="question-body col-12 text-center d-block align-middle p-2">
        <div class="d-inline-block text-left" style="width:fit-content">
          <div class="question">
            <span><b>{{(questionIndex+1)+"Q) "}}</b></span>
            <div class="d-inline-block" [innerHTML]="course.questions[questionIndex].text"></div>
          </div>
          <div class="options ml-3">
            <div class="option p-2 mt-2" *ngFor="let option of course.questions[questionIndex].options; let i=index;">
              <input type="radio" name="soption" [(ngModel)]="course.questions[questionIndex].select" [value]="i+1" />
              <span class="mx-3" style="vertical-align: text-bottom;">{{(i+1)+") "}}</span>
              <div class="d-inline-block" [innerHTML]="option"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="question-footer col-12 text-center">
        <button mat-raised-button color="warn" title="Submit" *ngIf="userCourse" (click)="evaluate()"
          [disabled]="questionIndex!=course.questions.length-1">
          Evaluate
        </button>
      </div>
    </div>
    <div class="col-12 mt-2 text-center" *ngIf="firestore.user.role=='ADMIN'">
      <button mat-mini-fab class="mx-3" color="primary" (click)="addQuestion()" title="Add New Question">
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="course.questions[questionIndex]" class="mx-3" mat-mini-fab color="accent" data-toggle="modal"
        data-target="#editQuestion" title="Edit Question">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="course.questions[questionIndex]" class="mx-3" mat-mini-fab color="warn" (click)="deleteQuestion()"
        title="Delete Question">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab class="mx-3" color="accent" data-toggle="modal" data-target="#bulkUpload" title="Bulk Upload">
        <mat-icon>upload</mat-icon>
      </button>
      <button mat-mini-fab class="mx-3" color="primary" (click)="updateCourse()" title="Save">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </app-card>
</div>

<div class="modal" id="editQuestion" *ngIf="course && course.questions[questionIndex]">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-dark">Question {{questionIndex+1}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-card class="row mt-2">
          <app-input class="col-12" type="textarea" label="Question Text" [rows]="rows"
            [(value)]="course.questions[questionIndex].text">
          </app-input>
          <div class=" row col-12 p-2" *ngFor="let option of course.questions[questionIndex].options; let i=index;">
            <input class="col-2 p-0" type="radio" name="coption" [(ngModel)]="course.questions[questionIndex].correct"
              [value]="i+1" />
            <app-input class="col-8 p-0" type="textarea" [rows]="rows" [label]="'Option '+(i+1)"
              [value]="course.questions[questionIndex].options[i]" (change)="updateOption(i,$event)"></app-input>
            <i class="col-2 p-0 material-icons pointer"
              (click)="course.question[questionIndex].options.splice(i,1)">delete</i>
          </div>
          <div class="col-10 text-right">
            <button mat-mini-fab class="mx-2" color="accent" title="Add Option"
              (click)="course.questions[questionIndex].options.push('')"
              [disabled]="course.questions[questionIndex].options.length==4">
              <mat-icon>add</mat-icon>
            </button>
            <i class="material-icons align-middle pointer mx-1" *ngIf="rows!=10" (click)="rows=rows+1">zoom_in</i>
            <i class="material-icons align-middle pointer mx-1" *ngIf="rows!=1" (click)="rows=rows-1">zoom_out</i>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>



<div class="modal" id="bulkUpload" *ngIf="course.questions">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-dark">Bulk Upload Questions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-card class="row mt-2">
          <app-input class="col-12" type="textarea" label="Question Text" [rows]="20"
            [(value)]="bulkUploadText">
          </app-input>
          <div class="col-10 text-right">
            <button mat-mini-fab class="mx-2" color="accent" title="Upload"
              (click)="processBulkUpload()">
              <mat-icon>upload</mat-icon>
            </button>
            <i class="material-icons align-middle pointer mx-1" *ngIf="rows!=10" (click)="rows=rows+1">zoom_in</i>
            <i class="material-icons align-middle pointer mx-1" *ngIf="rows!=1" (click)="rows=rows-1">zoom_out</i>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
