.course-name{
  font-size: large;
}

.option{
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #f8f9fa;
}

.option:hover{
  border-color:goldenrod;
}

.question-body{
  font-size: 18px;
}
