<div class="row m-0 px-2 r text-center">
  <div class="col-12 text-center">
    Tech Stack
  </div>
</div>
<div class="container">
  <div class="card m-2 shadow">
    <div class="card-content p-1">
      <h4 class="brown-text light">Frontend / UI </h4>
      <div class="row text-center">
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/html5.png" class="responsive-img">HTML5
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/css3.png" class="responsive-img">CSS3
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/javascript.png" class="responsive-img">Javascript
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/angular.png" class="responsive-img">Angular
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/reactjs.png" class="responsive-img">React
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/vuejs.png" class="responsive-img">Vue JS
        </div>
      </div>
    </div>
  </div>
  <div class="card m-2 shadow">
    <div class="card-content p-1">
      <h4 class="brown-text light">Backend / API </h4>
      <div class="row text-center">
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/java.png" class="responsive-img">Java
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/nodejs.png" class="responsive-img">Node JS
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/dotnet.png" class="responsive-img">.NET Framework
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/spring.png" class="responsive-img">Spring Framework
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/boot.png" class="responsive-img">Spring Boot
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/kafka.png" class="responsive-img">Apache Kafka
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/mongodb.png" class="responsive-img">Mongo DB
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/oracle.png" class="responsive-img">Oracle DB
        </div>
      </div>
    </div>
  </div>
  <div class="card m-2 shadow">
    <div class="card-content p-1">
      <h4 class="brown-text light">DevOps Tools</h4>
      <div class="row text-center">
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/git.png" class="responsive-img">Git
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/jenkins.png" class="responsive-img">Jenkins
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/maven.png" class="responsive-img">Maven
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img//logo/gradle.png" class="responsive-img">Gradle
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/jfrog.png" class="responsive-img">Jfrog
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/aws.png" class="responsive-img">AWS
        </div>
        <div class="col s4 m2">
          <img alt="" src="/assets/img/logo/cloudfoundry.png" class="responsive-img">Cloud Foundry
        </div>
      </div>
    </div>
  </div>
</div>