<div class="row p-3 shadow d-flex justify-content-center m-3 bg-card">
    <div class="col-3 d-flex align-items-center justify-content-center">
        <div class="txl shadow"><span>3</span><span>De</span></div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="text-start a">
            <span class="tl">De</span>
            <span class="tm">sign</span>
        </div>
        <div class="text-center a">
            <span class="tl">De</span>
            <span class="tm">velop</span>
        </div>
        <div class="text-end a">
            <span class="tl">De</span>
            <span class="tm">ploy</span>
        </div>
    </div>
</div>