.profile-card{
  margin:10px;
}
.mat-card-content{
  margin:30px;
  div{
    div{
      margin:10px;
      text-align: center;
    }
  }
}
.mat-card-actions{
  text-align: center;
}
.mat-card-image {
    width: 100px;
    height: 100px;
    border-radius: 50px!important;
}
