.profile-card{
  margin:10px;
}
.mat-card-content{
  margin:30px;
  div{
    div{
      vertical-align: middle;
      text-align: center;
    }
  }
}
table{
  tbody{
    td,th{
      border:0px!important;
      color:white;
    }
  }
}
.mat-card-actions{
  text-align: center;
}
.mat-card-image {
    width: 100px;
    height: 100px;
    border-radius: 50px!important;
}
