<div class="bg1"></div>
<div class="row m-0 text-center h">
    <div class="he">
        <img src="assets/icons/vvsk-icon.png" />
        <span class="edit"><i class="material-icons">edit</i></span>
        <div class="text-center">
            <div class="name">V.V.S.K Chaitanya</div>
            <div class="caption">Software Engineer</div>
        </div>
    </div>
</div>
<div class="row b">
    <div class="pc">
        <div class="c"><i class="material-icons">menu_book</i><span>Courses</span></div>
        <div class="c"><i class="material-icons">assignment</i><span>Assessments</span></div>
        <div class="c"><i class="material-icons">notifications</i><span>Notifications</span></div>
        <div class="c"><i class="material-icons">person</i><span>Update Profile</span></div>
        <div class="c"><i class="material-icons">logout</i><span>Logout</span></div>
    </div>
</div>