.card-content {
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom:2px solid goldenrod;
    text-align:center;
}
.mat-list-base {
    padding-top: 1px;
}
.card-actions{
  padding: 0px;
}
.col-12{
  padding:10px;
  margin:0px;
  display: inline-block;
  vertical-align: top;
}
.user-courses,.user-activity{
  .title{
    font-size:20px;
    color:goldenrod;
  }
  .course-count{
    display: block;
    font-size: 35px;
    margin:10px;
  }
  .course-title{
    display:inline-block;
    font-size: 12px;
    text-decoration: underline;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .course-status{
    display: block;
    font-size:15px;
  }
}

.gauge-wrapper {
  display: inline-block;
  width: auto;
  margin: 0 auto;
}

.gauge {
  background: #e7e7e7;
  box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.50);
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0!important;
  position: relative;
  overflow: hidden;
}
.gauge.min-scaled {
  transform: scale(0.5);
}

.gauge-center {
  content: '';
  color: #fff;
  width: 60%;
  height: 60%;
  background: #15222E;
  border-radius: 100px 100px 0 0!important;
  position: absolute;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  right: 21%;
  bottom: 0;
  color: #fff;
  z-index:10;
}

.gauge-center .label, .gauge-center .number {display:block; width: 100%; text-align: center; border:0!important;}
.gauge-center .label {font-size:0.75em; opacity:0.6; margin:1.1em 0 0.3em 0;}
.gauge-center .number {font-size:1.2em;}

.needle {
  width: 80px;
  height: 7px;
  background: #15222E;
  border-bottom-left-radius: 100%!important;
  border-bottom-right-radius: 5px!important;
  border-top-left-radius: 100%!important;
  border-top-right-radius: 5px!important;
  position: absolute;
  bottom: -2px;
  left: 20px;
  transform-origin: 100% 4px;
  transform: rotate(0deg);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
  display:none;
  z-index:9;
}

.four.rischio1 .needle {animation: fourspeed1 2s 1 both; animation-delay: 1s; display:block;}
.four.rischio2 .needle {animation: fourspeed2 2s 1 both; animation-delay: 1s; display:block;}
.four.rischio3 .needle {animation: fourspeed3 2s 1 both; animation-delay: 1s; display:block;}
.four.rischio4 .needle {animation: fourspeed4 2s 1 both; animation-delay: 1s; display:block;}

.slice-colors {height:100%;}

.slice-colors .st {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
}


.four .slice-colors .st.slice-item:nth-child(2) {
  border-top: 50px #e67e22 solid;
  border-right: 50px #e67e22 solid;
  background-color:#E84C3D;
}

.four .slice-colors .st.slice-item:nth-child(4) {
  left:50%;
  border-bottom: 50px #1eaa59 solid;
  border-right: 50px #1eaa59 solid;
  background-color:#f1c40f;
}


@keyframes fourspeed1 {
	0% {transform: rotate(0);}
  100% {transform: rotate(16deg);}
}

@keyframes fourspeed2 {
	0% {transform: rotate(0);}
  100% {transform: rotate(65deg);}
}

@keyframes fourspeed3 {
	0% {transform: rotate(0);}
  100% {transform: rotate(115deg);}
}

@keyframes fourspeed4 {
	0% {transform: rotate(0);}
  100% {transform: rotate(164deg);}
}

@-webkit-keyframes fourspeed1 {
	0% {transform: rotate(0);}
  100% {transform: rotate(16deg);}
}

@-webkit-keyframes fourspeed2 {
	0% {transform: rotate(0);}
  100% {transform: rotate(65deg);}
}

@-webkit-keyframes fourspeed3 {
	0% {transform: rotate(0);}
  100% {transform: rotate(115deg);}
}

@-webkit-keyframes fourspeed4 {
	0% {transform: rotate(0);}
  100% {transform: rotate(164deg);}
}
