/* You can add global styles to this file, and also import other style files */
@import "custom-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
  cursor: pointer;
}
.table{
  color:inherit;
}

.table th, .table td {
    border-top: none;
}

.table thead th{
  border-bottom:1px solid;
}

.row{
  margin-left:0px;
  margin-right:0px;
}
