<div class="container">
  <div class="row">
    <div class="col-12 text-center title-container">
      <div class="title">WebEdu</div>
      <div class="sub-title">Nextgen Online Interactive Learning Platform</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 about-container">
      <div class="about-title">
        About WebEdu
      </div>
      <div class="about-content">
        <p>
          WebEdu is online e-learning platform designed to provide quality education virtually via web and mobile app.
        </p>
        <p>
          WebEdu is suitable for all sorts of learners like kids, students, employees, professionals.
        </p>
        <p>
          WebEdu offers you wide range of courses which are trending and on demand.
        </p>
        <p>
          WebEdu has subjects related to many categories like arts, science, media, software, business.
        </p>
        <p>
          WebEdu ensures the quality and interactive content for all courses.
        </p>
        <p>
          WebEdu evaluates the learner performace through the interactive quizzes inside the course.
        </p>
        <p>
          WebEdu offers rewards and digital certificates to learner on successful completion of the learning milestones.
        </p>
      </div>
    </div>
  </div>
</div>
