<div class="row m-0">
    <div  class="c p-3 shadow bg-card">
        <div class="row">
            <div class="col-12 text-center">
                <div style="font-size: 24px;font-weight:600">Welcome to <a href="https://impulse.vvsk.in">IMPULSE</a></div>
                <div style="color:grey; font-size: 20px;font-weight:600;">Fullstack Learning Platform </div>
                <div><a href="https://vvsk.in">V.V.S.K Chaitanya</a></div>
            </div>
            <div class="col-12 text-center mt-1">
                <span class="pointer" routerLink="/home/design"><span class="r">De</span><span class="p">sign</span></span>
                <span style="font-size:20px"> &#8594; </span>
                <span class="pointer" routerLink="/home/develop"><span class="r">De</span><span class="p">velop</span></span>
                <span style="font-size:20px"> &#8594; </span>
                <span class="pointer" routerLink="/home/deploy"><span class="r">De</span><span class="p">ploy</span></span>
            </div>
        </div>
    </div>
</div>
<app-page [id]="page"></app-page>